*{
    text-align: center;
}

body{
    background-image: url(imgjava/download\ \(1\).gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: rgb(221, 138, 151);
}
button{
    font-size: 2em;
    font-style: italic;
    padding: 5px 10px;
    border-radius: 25px;
    transition: background-color 0.25s;
    cursor: pointer;
    background-color: rgb(248, 133, 152);
}
button:hover{
    background-color: rgb(230, 170, 180);
}